[submodule "deps/lib-util-c"]
	path = deps/lib-util-c
	url = https://github.com/tonygleck/lib-util-c.git
[submodule "deps/macro-utils"]
	path = deps/macro-utils
	url = https://github.com/Azure/azure-macro-utils-c.git
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson.git
[submodule "deps/libpatchcords"]
	path = deps/libpatchcords
	url = https://github.com/tonygleck/libpatchcords.git
[submodule "deps/http_client"]
	path = deps/http_client
	url = https://github.com/tonygleck/http_client.git
