[submodule "deps/lib-util-c"]
	path = deps/lib-util-c
	url = https://github.com/tonygleck/lib-util-c.git
[submodule "deps/macro-utils"]
	path = deps/macro-utils
	url = https://github.com/Azure/azure-macro-utils-c.git
[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson.git
[submodule "deps/libpatchcords"]
	path = deps/libpatchcords
	url = https://github.com/tonygleck/libpatchcords.git
[submodule "deps/http_client"]
	path = deps/http_client
	url = https://github.com/tonygleck/http_client.git
[submodule "deps/azure-c-testrunnerswitcher"]
	path = deps/azure-c-testrunnerswitcher
	url = https://github.com/Azure/azure-c-testrunnerswitcher.git
[submodule "deps/azure-ctest"]
	path = deps/azure-ctest
	url = https://github.com/Azure/azure-ctest.git
[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/Azure/umock-c.git
[submodule "deps/gui/lvgl"]
	path = deps/gui/lvgl
	url = https://github.com/littlevgl/lvgl.git
