body {
    font-size:.9em;
    font-family:Helvetica,Arial;
    background-color: #3d3f42;
}

* {
    margin: 0;
    padding: 0;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    /*position: absolute;*/
    top: 0; left: 0; bottom: 0; right: 0;
    /*padding-top: 70px;*/
    font-family: 'Lato';
    text-align: center;
    color: white;
    font-size: 100px;
}

#period {
    height: 100px;
    width: 820px;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: 'Lato';
    text-align: center;
    color: white;
    font-size: 100px;
    float: none;
}

#forcast {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    list-style-image: none;
    list-style-type: none;
    overflow: auto;
    position: relative;
    display: inline-block;
    clear: both;
}

#forcast div {
    font-family: 'Lato';
    font-size: 40px;
    height: 25%;
    margin: 0;
    padding: 10;
    list-style: none;
    display: inline-block;
    float: left;
  }